body {
  font-family: Arial, sans-serif;
  background-color: rgb(208, 255, 253);
  text-align: center;
}

h1,
h3 {
  color: rgb(223, 149, 207);
}

#items li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.completed {
  color: rgb(0, 180, 0);
  font-style: italic;
}
