body {
  font-family: Arial, sans-serif;
  background-color: rgb(208, 255, 253);
  text-align: center;
}

h1,
h3 {
  color: rgb(223, 149, 207);
}

#items li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.completed {
  color: rgb(0, 180, 0);
  font-style: italic;
}

.priority-low {
  color: green;
  font-weight: bold;
}

.priority-medium {
  color: goldenrod; /* yellow-ish */
  font-weight: bold;
}

.priority-high {
  color: red;
  font-weight: bold;
}