  <!DOCTYPE html>
  <html>
    <head>
      <title>To-Do List</title>
      <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='styles.css') }}"
      />
    </head>
    <body>
      <h1>To do list page</h1>
      <form action="/" method="get">
        <label for="sort_by">Sort By:</label>
        <select name="sort_by" id="sort_by">
          <option value="item" {% if sort_by=="item" %}selected{% endif %}>
            Item
          </option>
          <option value="date" {% if sort_by=="date" %}selected{% endif %}>
            Date
          </option>
          <option value="completed" {% if sort_by=="completed" %}selected{% endif %}>
            Completed
          </option>
        </select>
        <button type="submit">Sort</button>
      </form>
      <h3>List:</h3>
      <ul id="items">
        {% for item in items %}
        <li class="{% if item.completed %}completed{% endif %}">
          {{ item.item }} Created at: {{ item.date.strftime('%d-%m-%Y %H:%M:%S') }}
          {% if item.completed %}
            Completed at: {{ item.completed_at.strftime('%d-%m-%Y %H:%M:%S') }}
          {% endif %}
          {% if not item.completed %}
          <form
            action="/complete_item/{{ item.id }}"
            method="post"
            style="display: inline"
          >
            <button type="submit">Task Complete</button>
          </form>
          {% endif %}
          <form
            action="/delete_item/{{ item.id }}"
            method="post"
            style="display: inline"
          >
            <button type="submit">Delete Item</button>
          </form>
          {% if not item.completed %}
          <form
            action="/update_item/{{ item.id }}"
            method="get"
            style="display: inline"
          >
            <button type="submit">Update Item Name</button>
          </form>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      <h3>Add item</h3>
      <form action="{{ url_for('add_item') }}" method="post">
        <label for="item">Item:</label>
        <input type="text" id="item" name="item" />
        <input type="submit" value="Add Item" />
      </form>
    </body>
  </html>
