<!DOCTYPE html>
<html>
  <head>
    <title>To-Do List</title>
  </head>
  <body>
    <h1>To do list:</h1>
    <ul id="items"></ul>
    <script>
      fetch("/items")
        .then((response) => response.json())
        .then((data) => {
          const itemList = document.getElementById("items");
          data.forEach((item) => {
            const listItem = document.createElement("li");
            listItem.textContent = item.item;
            itemList.appendChild(listItem);
          });
        });
    </script>
  </body>
</html>
